body {
    font-family: "arial", sans-serif;
    size: 15px;
    background: #000;
}

.main-head{
    height: 150px;
    background: #FFF;
}

.sidenav {
    
    height: 100%;
    overflow: hidden;
}

.main {
    padding: 0px 0px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 0px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 0%;
    }  

    .register-form{
        margin-top: 0%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 70%; 
    }

    .sidenav{
        width: 70%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 5%;
    }

    .register-form{
        margin-top: 20%;
    }
}

.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

.img-Home{
    width: 100%;
    height: 250px;
}